/* Constant styling for the app */

@tailwind components;

@layer components {
  /* Text effects */
  .text-stroke {
    text-shadow: hsl(var(--stroke)) 0.05rem 0.05rem 0px,
      hsl(var(--stroke)) -0.05rem 0.05rem 0px,
      hsl(var(--stroke)) 0.05rem -0.05rem 0px,
      hsl(var(--stroke)) -0.05rem -0.05rem 0px;
  }

  /* Screen */
  .page-container {
    @apply overflow-hidden w-full h-fit min-h-screen bg-gradient-to-b from-background to-black;
  }

  .full-parent-fit {
    @apply w-full h-fit min-h-screen;
  }

  .fit-parent {
    @apply w-full h-full;
  }

  .fit-self {
    @apply w-fit h-fit;
  }

  /* Custom scroll bar */
  ::-webkit-scrollbar {
    width: 5px;
  }

  ::-webkit-scrollbar-track {
    background: #0d0d0d;
  }

  ::-webkit-scrollbar-thumb {
    background: #dcb53f;
    border-radius: 5px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  /* Classes for content container */
  .section-container {
    @apply w-full h-fit mb-20 z-10 max-w-[40rem];
  }

  /* Flex */
  .row-container {
    @apply flex flex-row;
  }

  .col-container {
    @apply flex flex-col;
  }

  .dead-center {
    @apply items-center justify-center;
  }
}
