@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Light theme WIP */
  :root {
    --background: 49, 85%, 95%;
    --foreground: 45 5% 0%;
    --card: 45 50% 90%;
    --card-foreground: 45 5% 10%;
    --popover: 45 100% 95%;
    --popover-foreground: 45 100% 0%;
    --primary: 45 69.2% 55.5%;
    --primary-foreground: 0 0% 100%;
    --secondary: 45 30% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 7 30% 85%;
    --muted-foreground: 45 5% 35%;
    --accent: 7 30% 80%;
    --accent-foreground: 45 5% 10%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 45 5% 90%;
    --border: 45 30% 50%;
    --input: 45 30% 18%;
    --ring: 45 69.2% 55.5%;
    --stroke: 0, 0%, 0%;
    --radius: 0.5rem;
  }
  /* Dark theme */
  .dark {
    --background: 0 0% 5%;
    --foreground: 45 5% 90%;
    --card: 45 50% 0%;
    --card-foreground: 45 5% 90%;
    --popover: 45 50% 5%;
    --popover-foreground: 45 5% 90%;
    --primary: 45 69.2% 55.5%;
    --primary-foreground: 0, 0%, 10%;
    --secondary: 45, 69%, 55%;
    --secondary-foreground: 0, 0%, 10%;
    --muted: 7 30% 15%;
    --muted-foreground: 45 5% 60%;
    --accent: 7 30% 15%;
    --accent-foreground: 45 5% 90%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 45 5% 90%;
    --border: 45 30% 18%;
    --input: 45 30% 18%;
    --ring: 45 69.2% 55.5%;
    --stroke: 0, 0%, 100%;
    --radius: 0.5rem;
  }
}

@layer base {
  h1 {
    @apply text-background text-7xl font-black italic;
  }
  h2 {
    @apply font-medium;
  }
  h3 {
    @apply font-normal;
  }
  h4 {
    @apply font-extralight text-sm;
  }
  p {
    @apply font-light;
  }
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
